<!DOCTYPE html>
<html lang = "en"></html>
<head>
</h1> style="text-align:center;margin-bottom: 20px;">WHOLESALE CUSTOMER CLUSTER LABEL PREDICTION</h1>

<div style="text-align:center;">
<a style="padding-right: 50px;"href="#">Home</a>
<a  style="padding-right: 50px;"href="#">About</a>
<a  style="padding-right: 50px;"href="#">Contact</a>
<a  style="padding-right: 50px;"href="#">Predict</a>
</div>




<hr style="margin-bottom: 20px;">

<div style="text-align:center;"><a  style="font-size:20px;background-color: rgb(255, 69, 0);padding: 15px 35px 15px 35px;color: white;" href="https://www.aaarl.ca/post/customer-segmentation-for-wholesalers">Read more</a></div>

<label style="width: 10em;">Channel</label>  &rarr;
<input type="text" size="20" placeholder="Enter Your Value"><br>

<label style="width: 10em;">Region</label>  &rarr;
<input type="text" size="20" placeholder="Enter Your  Value"><br>

<label style="width: 10em;">Fresh</label>  &rarr;
<input type="text" size="20" placeholder="Enter Your  Value"><br>

<label style="width: 10em;">Milk</label>  &rarr;
<input type="text" size="20" placeholder="Enter Your  Value"><br>

<label style="width: 10em;">Grocery</label>  &rarr;
<input type="text" size="20" placeholder="Enter Your  Value"><br>

<label style="width: 10em;">Frozen</label>  &rarr;
<input type="text" size="20" placeholder="Enter Your  Value"><br>

<label style="width: 10em;">Detergents_Paper</label>  &rarr;
<input type="text" size="20" placeholder="Enter Your  Value"><br>

<label style="width: 10em;">Delicassen</label>  &rarr;
<input type="text" size="20" placeholder="Enter Your  Value"><br>


<input type="submit" value="Submit">
</head>